<h1>My Hair Salon</h1>

  <p>Create a new stylist:</p>

  <form action="/stylists" method="post">
    <label for="name">Enter the name of your stylist:</label>
    <input id="name" name="name" type="text">

    <button class="btn" type="submit">Add stylist</button>
  </form>

  <p> Add clients to any stylist:</p>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a stylist</label>
    <select id='stylist_id' name='stylist_id' type='text' class="browser-default">
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>


    <label for="name">Enter the client's name:</label>
    <input id="name" name="name" type="text">

    <button class="btn" type="submit">Add a client</button>
  </form>



  <% if @stylists.any?() %>
  <p>Click on a stylist to see his/her clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>
